path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line 
{
    fill: none;
    stroke: black;
    stroke-width: 2;
    shape-rendering: crispEdges;
}
  
  .axisLabels
  {
		font-family: 'Oxygen', sans-serif;    
    font-size: 15px;
  }
  
  .chartTitle
  {
    font-size: 17px;
    font-family: 'Oxygen';
  }

text[id^="legend"] {
 font-family: 'Oxygen', sans-serif; 
}

.nav-link
{
   font-family: 'Oxygen', sans-serif;
   font-size: 14px;
}

.pagetitle
{
  padding-top: 70px;
  color: white;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 50px;
}


.span6
{
  float: none;
  margin: 0 auto;
}

p, li{
  font-family: 'Average', serif;
  font-size: 18px;
  text-align: justify;
}

#textbody, #figurecontainer
{
  padding-bottom: 40px;
}